.splash-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black; /* Default background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  pointer-events: none; /* Ensure no interaction during splash */
}

.splash-video {
  object-fit: cover;  /* Ensures video fills screen */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
